.sec2{

padding-top:50px;
padding-left: 35%;
padding-bottom: 10px;
align-items: center;
    .row{
      
        
        
           .caja{
            height:170px;
            width:170px;
            outline: 1px solid #000000;
             font-size: 15px;
             padding: 30px;
             text-align: center;
             text-decoration: none;
           }

        
    }
}